
menu "Zephyr Kernel"
  source "Kconfig.zephyr"

config BT_TX_RATE
  int "Frequency to TX advs in ms"

config TIME_BETWEEN_MEASURMENTS
  int "How long to sleep between broadcasts (seconds)"

config BT_TX_TIME
  int "How long to TX once we wake up (ms)"

endmenu
